body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

h1 {
  font-size: 4rem;
  font-family: "Playfair Display", serif;
  font-family: "PT Serif", serif;
}

.letter {
  transition: color 700ms;
}
